.big-button {
    background: #8357c5;
    border: none;
    border-bottom: .6rem solid #8357c2;
    color: white;
    font-weight: bold;
    margin-bottom: 3.2rem;
    padding: 2.4rem;
    width: 100%;

}

.big-button:disabled {
    opacity: .5;
}

.button {
    background: #8357c5;
    border: none;
    border-bottom: #8357c2;
    color: white;
    font-weight: 500;
    padding: 1.2rem;

}

.button-link {
    background: none;
    border: none;
    color: #a5afd7;
    padding: 0;
}